@import '../../node_modules/@radix-ui/themes/styles.css';

* {
    box-sizing: border-box;
}

:root {
    --text-color: white;
}

button:not(.unstyled),
select:not(.unstyled) {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: all 0.15s;
}

input:not(.unstyled),
textarea:not(.unstyled) {
    border-radius: 8px;
    border: 1px solid;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.15s;
    background-color: #2a2a2a;
    @apply border rounded-lg p-4 text-lg;
}

input:not(.unstyled):hover {
    cursor: text;
}

button:not(.unstyled):hover,
select:not(.unstyled):hover {
    border-color: #646cff;
}

button:not(.unstyled):focus,
button:not(.unstyled):focus-visible,
select:not(.unstyled):focus,
select:not(.unstyled):focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

[data-theme='light'] {
    :root {
        --text-color: black;
    }

    button:not(.unstyled),
    select:not(.unstyled) {
        background-color: #cbceff;
        color: black;
        border-color: black;
    }

    button:not(.unstyled):hover,
    select:not(.unstyled):hover {
        background-color: white;
    }

    input:not(.unstyled),
    textarea:not(.unstyled) {
        background-color: #eeeeee;
    }
}

.transition-fade-enter {
    opacity: 0;
    scale: 1.05;
}
.transition-fade-enter-active {
    opacity: 1;
    scale: 1;
}
.transition-fade-exit {
    opacity: 1;
    scale: 1;
}
.transition-fade-exit-active {
    opacity: 0;
    scale: 1.1;
}
.transition-fade-exit-active,
.transition-fade-enter-active {
    transition: all 150ms ease-in-out;
}
