@import '@radix-ui/themes/styles.css';

* {
    box-sizing: border-box;
}

.transition-fade-enter {
    opacity: 0;
    scale: 1.05;
}
.transition-fade-enter-active {
    opacity: 1;
    scale: 1;
}
.transition-fade-exit {
    opacity: 1;
    scale: 1;
}
.transition-fade-exit-active {
    opacity: 0;
    scale: 1.1;
}
.transition-fade-exit-active,
.transition-fade-enter-active {
    transition: all 150ms ease-in-out;
}

.wuig-button > * {
    transition: all 150ms ease-in-out;
}

.wuig-button > *:last-child {
    opacity: 0;
}

.wuig-button-loading > * {
    opacity: 0;
}

.wuig-button-loading > *:last-child {
    opacity: 1;
}
